
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-color: #E8F6FA;
  --main-color1:#B9E5E8;
  --main-color2: #7AB2D3;
  --main-color3: #2973B2;
  --font-color:#333;
  --font-color2: #444;

}
.fira-sans-condensed-thin {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .box{
    width: 1200px;
  }
  body {
    display: flex;
    justify-content: center;
      margin: 0;
      font-family:sans-serif;
      line-height: 1.6;
      color:var(--font-color);
      position: relative;
      width: 100%; /* Дэлгэцийн 90% өргөн */
      background-color: var(--primary-color);
    }
    /* header ehlel */
  
    .container1{
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        height: 60px;
    
      }
      .navbar {
        background-color: var(--main-color1);
        padding: 30px 0;
      
      }
      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999; /* өндөр утга тавьж header-ийг бүх зүйлийн дээр гаргана */
      }
      
      
      .logo img {
        height: 13em;
      }
      
      .menu {
        display: flex;
        gap: 20px;
       
      }
      
      .menu a {
        text-decoration: none;
        color:#0a2944;
        transition: color 0.3s;
        font-size: 1.1em;
      
      }
      
      .menu a:hover {
        color:black;
      }

      /* //section1  */
  

 
  

  .cta-box {
    display: flex;
    justify-content: space-between;
    padding: 60px 5%;
    border: 1px solid #ccc;
  }
  
  .cta-left {
    width: 60%;
  }
  
  .cta-right {
    width: 35%;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-placeholder {
    font-size: 40px;
  }
  
  .form-section {
    display: flex;
    justify-content: space-between;
    padding: 200px 5%;
  }
  
  .form-left {
    width: 45%;
  }
  
  .form-left ul {
    padding: 0;
    list-style: none;
  }
  
  .form-right {
    width: 50%;
  }
  
  .form-right form {
    display: flex;
    flex-direction: column;
  }
  
  .form-right input,
  .form-right textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  