body{
    display: flex;
    flex-wrap: nowrap;
    height: 100vp;
    width:600px;
    gap: 10px;
}
div{
    position: relative;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #eeeff2;
    width: 100px;
    height: 150px;
    font-size: 40px;
    font-family: tahoma;           
    box-sizing: border-box;
}

div::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color:#D0D0FF;
    border-radius: 50%;
    box-shadow: 0 20px 0 #D0D0FF, 0 40px 0 #D0D0FF, 0 60px 0 #D0D0FF, 
                0 80px 0 #D0D0FF, 0 100px 0 #D0D0FF, 0 120px 0 #D0D0FF,
                0 140px 0 #D0D0FF ;
}
div:hover{
    cursor: pointer;
    background-color: yellow;
    color:goldenrod;
}
div:last-child {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

