body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;


}
div{
    display: flex;
    justify-content: center;
    font-size: 40px;
    height: 100px;
    width: 100px;
    border-top: solid 1px ;
    border-color: #687291;
    font-family: tahoma;

}
div:nth-child(odd){
    background-color : #dfe1e7 ;

}
div:nth-child(even){
    background-color: #eeeff2;
}
div:last-child{
    background-color:#687291;
    border:solid 4px;
    border-color: black;
    align-items: center;
}